[Unit]
Description=EVerest
Requires=mosquitto.service
Requires=network.target
After=mosquitto.service
After=network.target

[Service]
Type=simple
Restart=always
User=root
LimitCORE=infinity
WorkingDirectory=/usr/bin
ExecStartPre=sleep 5
ExecStart=/usr/bin/manager --conf /etc/everest/config.yaml

[Install]
WantedBy=multi-user.target
